@media screen and (max-width: 800px){
	body{
		overflow-x: hidden;
	}
	.header-about{
		flex-direction: column;
	}
	.header-lang{
		display: none;
	}
	.menu{
		display: none;
	}
	.mobile-menu{
		display: block;
	}
	.man-img{
		display: none;
	}
	.man-img-mobile{
		display: inline;
	}
	.container{
		width: 90%;
	}
	.social-media-items div{
		padding: 10px;
	}
	.display-none{
		display: none;
	}
}